*,
*::before,
*::after {
    box-sizing: border-box;
}

:root{
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 100;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #40e0d0;

    --fs-h1: 3.5rem;
    --fs-h2: 2.5rem;
    --fs-h3: 2rem;
    --fs-body: 1.5rem;

    --shadow: 0.25em 0.25em 0.75em rgba(0,0,0,0.5),
              0.1em 0.1em 0.3em rgba(0,0,0,0.25);

}

html{
    scroll-behavior: smooth;
}

@media (min-width: 600px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.55rem;
        --fs-h3: 2.5rem;
        --fs-body: 1.75rem;
    }
}


header{
    padding-left: 1em;
}

.nav-toggle{
    margin: 1em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: fixed;
    right: 0.5em;
    top: 0.5em;
    padding: 0.5em;
    z-index: 1000;
}

.hamburger{
    display: block;
    color: var(--clr-accent);
    font-size: var(--fs-h3);
}

.nav{
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover{
    opacity: 0.5;
}

.nav-open .nav{
    transform: translateX(0%);
}

.nav_open .hamburger,
.nav-open .nav-toggle{
    position: fixed;
}

body{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img{
    display: block;
    max-width: 100%;
}

h1,
h2,
h3 {
    margin: 0;
    line-height: 1;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

strong {
    font-weight: var(--fw-bold);
}

section{
    padding: 2em 1.5em;
}

.section__title {
 margin-bottom: 0.25em;
}

.section__subtitle {
    font-size: var(--fs-h3);
    margin: 0;
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong{
    display: block;
}

.intro{
    position: relative;
}

.intro__img{
    box-shadow: var(--shadow);
}

@media (min-width: 900px) {

    .intro__img{
        grid-area: img;
        min-width: 250px;
        position: relative;
    }

    .section__title{
        grid-area: title;
    }

    .intro{
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .section__subtitle--intro{
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1em;
        width: calc(100% + 1em);
    }
}

.about{
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

.about__body,
.section__subtitle--about,
.section__title--about{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}


footer{
    background-color: var(--clr-light);
    color: var(--clr-dark);
    text-align: center;
    padding: 1.5em 0;
}

footer a {
    color: inherit;
    text-decoration: none;
}

.social-list{
    list-style: none;
    display: flex;
    font-size: var(--fs-h2);
    justify-content: center;
    padding: 0;
}

.social-list__item{
    margin: 0 0.75em;
}

.social-list__link:hover{
    opacity: 0.5;
}

.stack{
    text-align: center;
}

.section__title--stack{
    color: var(--clr-accent);
    position: relative;
}

.section__title--stack::after{
    content: "";
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: currentColor;
    opacity: 0.5;
}


.technologies{
    margin-bottom: 3em;
}

.technology{
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width:900px){
    .technologies{
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .technology + .technology{
        margin-left: 2em;
    }
}

.btn{
    display: inline-block;
    padding: .5em 1.5em;
    background-color: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out ;
}

.btn:hover{
    transform: scale(1.1);
}

.projects{
    background: var(--clr-dark);
    color: var(--clr-light);
}

.section__title--projects,
.projects_divs{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.projects_divs{
    margin-top: 2em;
}

.section__title--projects{
    text-align: center;
}

.project-img{
    box-shadow: var(--shadow);
}

.project-title{
    margin: 0.25em 0.25em;
    background: var(--clr-accent);
}

.project-description{
    margin: 0.1em auto;
}

@media (min-width:900px){

    .project-title{
        grid-area: title;
        justify-self: center;
    }

    .project-description{
        grid-area: description;
    }

    .project-img{
        grid-area: img;
        align-self: center;
    }

    .project1{
        display: grid;
        grid-template-areas: 
        "img title"
        "img description";
    }

    .project2{
        display: grid;
        grid-template-areas: 
        "title img"
        "description img";
    }

    .project{
        column-gap: 1em;
        margin-bottom: 2em;
    }

}